<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <title>document</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />    
    <meta name="author" content="Teaism">
    <link rel="stylesheet" href="" />
    <style>
        .error-page {
            margin-top: calc(20% - 180px);
            width: 500px;
            text-align: center;
            margin-left:  auto;
            margin-right:  auto;
        }
        .guide .primary-btn {
            padding: 5px 20px;
            background-color: #118bde;
            text-align: center;
            vertical-align: middle;
            color: #fff;
            text-decoration: none;
        }
       
    </style>
    <script type="text/javascript">
        function toLogin(){
            if(typeof callbackObj != "undefined"){
                callbackObj.logout();
            }else {
                location.href = '<#config name="error.page.loginPage"/>'
            }
        }
    </script>
</head>
<body>
    <div class="error-page">
        <div>
            <img src="${contextPath}/common/image/error-404.png" alt="">
        </div>
        <h2>页面不存在或没有权限</h2>
        <div class="guide">
            <a href="#" onclick="history.go(-1)" class="primary-btn dili-btn">返回上一页</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <#config has="error.page.indexPage"><a href="#" onclick="location.href='<#config name="error.page.indexPage"/>'" class="primary-btn dili-btn">去网站首页</a></#config>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <#config has="error.page.loginPage"><a href="#" onclick="toLogin();" class="primary-btn dili-btn">重新登录</a></#config>
        </div>
    </div>
</body>
</html>
