<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ss.dao.mapper.CommonMapper">

  <select id="selectValuePair" parameterType="String" resultType="com.dili.ss.metadata.ValuePairImpl">
    ${value}
  </select>

  <!--${_parameter}-->
  <select id="selectJSONObject" parameterType="String" resultType="com.alibaba.fastjson.JSONObject">
    ${value}
  </select>

  <select id="selectMap" parameterType="String" resultType="java.util.HashMap">
    ${value}
  </select>

  <select id="selectDto" parameterType="map" resultType="map" >
    ${value}
  </select>

  <select id="execute" parameterType="String">
    ${value}
  </select>

</mapper>